{% extends 'base.html' %}

{% load staticfiles %}

{% load dict_extras %}

{% block resources %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

<div class="row padding-reset">
    <div class="column">
        <div class="ui huge message page grid">
            <div class="row">
                <div class="ui huge header">
                    Technical Consulting Solutions at VT
                </div>
                <div class="ui horizontal divider">
                    <i class="circle notched icon"></i>
                </div>
                <p>
                    TCSxVT - the <b>premiere</b> consulting group at Virginia Tech. We design, implement, and advise on products just for you.
                    </br>
                    At TCS, unlike some other consulting groups in Blacksburg, technical skill, relevant experience, and superior problem-solving ability are the standard, <i>not</i> the exception.
                    </br>
                    </br>
                </p>
            </div>

            <div class="row">
                <a class="ui huge inverted red icon button" href="../portfolio/">
                    Check out our work
                    <i class="angle double right icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="ui page grid">
    <div class="row padding-reset">
        <!-- This gives nice spacing -->
    </div>

    <div class="ui sub header">What kind of projects are you interested in?</div>
    <div id="project-tag-dropdown" class="ui container multiple search normal selection dropdown">
        <input type="hidden" name="country">
        <i class="dropdown icon"></i>
        <div class="default text">Select tags</div>
        <div class="menu">
        {% for tag_category in tag_dict %}
            <div class="ui red header">{{ tag_category }}</div>
            {% for tag_name in tag_dict|lookup:tag_category %}
                <a class="item" data-value="{{ tag_name }}">{{ tag_name }}</a>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    <div class="row padding-reset">
        <a id="filter-projects-btn" class="ui green inverted button">Filter</a>
    </div>

</div>

<script src="{% static 'home/js/home.js' %}"></script>

{% endblock %}
